body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #d3a32094;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #868f9c;
}

th {
  background-color: #218a9c;
}

tr:hover {
  background-color: #334155;
}
